body
{
    

background: #8e9eab; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    }
.navbar-default {
    background-color: rgba(255, 255, 255, 0.18) !important;
    border:0px !important;
    
    }
    .page-header
    {
        border-bottom: 1px solid rgba(255, 255, 255, 0.18) !important;
        }
        
        .jumbotron
        {
            background-color: rgba(255, 255, 255, 0.46) !important;
            }
footer
{
    margin-top: 21px;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.18);
}
   
        
        .box>*
    {
        margin-left:50%;
        transform: translate(-50%,0);
    
        } 
        
        .box>p , .box>h2
    {
        margin-left:0%;
        transform: translate(0,0);
        text-align:center;
        }
        
        .btn-default
        {
                color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
            }